<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cvpage.css">
    <title>Document</title>
  </head>

  <body>
    <div class="container">

      <div class="left">

        <div class="photo">
          <img src="imgs/avatar.png">
        </div>

        <div class="left-content">

          <div class="name">
            <!-- NameDiv -->
          </div>

          <div class="left-content-items">
            <h1>contact me</h1>
            <div class="contact">

              <div class="cont-item" id="contacttext">
                <!-- Contact -->
              </div>
            </div>

            <div class="about-me">
              <!-- about me -->
            </div>

            <div class="interests">
              <h1>interests</h1>
              <div class="interests-content">

                <div class="int">
                  <!-- interests -->
                </div>
              </div>
            </div>

            <div class="languages">
              <h1>languages</h1>
              <div class="lang-content">
                <div class="lang">
                  <!-- languages -->
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="right">

        <div class="experience">
          <!-- expDiv -->
        </div>

        <div class="education">
          <!-- EduDiv -->
        </div>

        <div class="skills">

          <div class="title">
            <h1>Skills</h1>
          </div>
          <div class="skills-content">
            <div class="skl-list">
                <!-- skillDiv -->
            </div>

          </div>

        </div>

      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/cvpage.js"></script>
  </body>

</html>